<%- include('../parts/header.ejs') %>

<body>
    <%- include('../parts/navbar.ejs') %>
    <%- include('../parts/messages.ejs') %>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 ">
                <div class="card mt-3 p-3">
                    <h4 class="text-center my-3">Reset password</h2>
                    <form class="" method="POST" enctype="multipart/form-data" action="/reset">
                        <div class="form-group">
                            <label class="w-100">Email
                                <input name="email" type="email" class="form-control">
                            </label>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <p class="text-center">Link for reset a new password will be send to youre email address</p>
                        <button type="submit" class="btn btn-primary col-6 offset-3">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('../parts/footer.ejs') %>